body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.top_part{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.add_logo{
    display: flex;
    justify-content: center;
    align-items: flex start;
    margin-top: 10px;
}

.input_box{
    display: flex;
    justify-content: center;
    align-items: flex start;
    
}

.input-box{
    width: 200px;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add_button{
    display: flex;
    justify-content: center;
    align-items: flex start;
    
}

.my-button{
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: flex-start;
}

.display_section{
    display: flex;
    flex-direction: column;
}

#each_book{
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

#rm{
    width: 80px;
    height: 30px;
}


