body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100%;
}

.add_section{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.add_logo{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    padding: 10px;
    margin: 10px;
}

.add_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #0056b3;
}

.display_section{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
}

table, th, td {
    border:1px solid black;
  }