body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space space-between;
}

.cell_part{
    text-align: center;
    border: black 1px;
    background-color: aquamarine;
}

.button_part{

    text-align: center;
}

#bt{
    height: 30px;
    width: 150px;;
}

#addRow{
    height: 30px;
    width: 150px;
}

#rm{
    height: 30px;
    width: 150px;
}

#cell_td{
    height: 30px;
    width: 300px;
}

th,td{
    height: 30px;
    width: 300px;
    border: black solid 1px;
}


